$bg-color: #FEFEFE;
$bg-pin-tab-color: #F1F5F8;
$bg-drag-tab-color: #7F858D;
$tab-text-color: #7F858D;
$active-tab-text-color: #343434;
$drag-tab-text-color: #FFFFFF;
$bg-tab-color: #FFFFFF;
$drop-down-color: #4690E2;
$line-color :#AEB6CE33;
$shadow-color: #7B7F9133;