.button {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: none;
    color: $tab-text-color;
    background: inherit;
    cursor: pointer;
    padding: 0;
}

.button:hover {
    color: $active-tab-text-color;
    background: $bg-pin-tab-color;
}